*{
    box-sizing: border-box;
}


#toogle{
    display: none;
}
#toogle:checked ~ #sidebar{
    transform: translateX(0px);
}

.sidebarIcon{
    width: 22px;
    height: 22px;
    position: absolute;
    z-index: 20;
    left: 22px;
    top: 22px;
}

#sidebar{
    height: 100%;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    margin-top: 60px;
    background-color: rgb(84, 161, 32);
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
}
.sidemenu{
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidemenu li{
    color: #fff;
    border-bottom: 5px solid rgb(225, 225, 225);
}
.sidemenu li a{
    color: #fff;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
}
ul.sidemenu > li:hover{
    margin-left: 50px;
}
.spinner{
    height: 3px;    width: 25px;
    margin: 4px;
    background: #21b0b2;
    transition: all 0.3s;
}
#toogle:checked ~ .sidebarIcon > .spinner.middle{
    opacity: 0;
}
#toogle:checked ~ .sidebarIcon > .spinner.top{
    transform: rotate(45deg);
    margin-top: 8px;
}
#toogle:checked ~ .sidebarIcon > .spinner.bottom{
    transform: rotate(-45deg);
    margin-top: -9px;
}